.btn-primary {
    color: #fff;
    background-color: #fb6026;
    border-color: #ec4304;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ec4304;
    border-color: #ec4304;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ec4304;
    border-color: #ec4304;
}
.navbar{ height: 120px;width:100%; background:#ff871c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
body{ 
    font-family: 'Prompt', sans-serif;
    background-color: #ebeff2;
    /*background-image: url(../images/bg.png);*/
    background-position: center 0px;
    padding: 0;
    width: 100%;
    background-repeat: repeat-x
}
form{width: 100%;}
.logo{ margin-top:5px;}
#mainpage{ margin-top:25px; margin-bottom:10px; background:#ffffff; border:1px solid rgba(54, 64, 74, 0.05);border-radius: 2px;
    

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.menu-index{margin-top: 20px;}
.adminpage{
    margin-top:25px; margin-bottom:10px; background:#ffffff; border:1px solid rgba(54, 64, 74, 0.05);border-radius: 2px;

}
#navbarNavDropdown{ margin-top:4%;     z-index: 999;}
#menu-nav{ background:#ff871c}
#menu-nav .nav-link {color:#212121;}
#menu-nav .nav-item {padding-left: 10px; padding-right: 10px; padding-top:2%}

#menu-nav .nav-item .active{color:#E1F5FE; border-bottom:5px solid #E1F5FE}
#menu-nav .nav-item a:hover{color:#E1F5FE; border-bottom:5px solid #E1F5FE}

.title{ padding:20px; font-size:24px;}
.input-data{ padding-left:20px; padding-right:5px;  margin-bottom: 10px;}
td .fa-trash-alt{ color: #dc3545; }

.body-content{ 
    border: 1px solid #999;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    padding: 10px;
}
.navber-profile{
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    margin-top: -50px;
    color: #fff;
}
.navber-profile a{ color: #fff; }
.navber-profile a:hover{ color: #dc3545; }

.navber-profile a{
    text-decoration:none;
    margin-left: 5px;
}
.navbar-custom{ background:#fff; border-bottom: 1px solid #e9ecef;}
.custom-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.custom-menu li {
    float: left;
}

.custom-menu  li a i{
    font-size: 22px;
}
.custom-menu  li a {
    display: block;
    color:#4D4D4D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.custom-menu .active{
    background: #f8f9fa;
    color: #FF7043 !important;
}

.custom-menu .active a i{
    color: #FF7043 !important;
}

.custom-menu .active a .item-menu{
    color: #FF7043 !important;
}

.custom-menu  li a:hover {
    background: #f8f9fa;
    color: #FF7043;
}
  
.item-menu{ font-size:14px;}
.modal-title{color: #212121;}
.modal-concealed{ color:#dc3545; padding: 15px; font-size:24px;}
.model-title{
    text-align: center;
    background: #FF7043;
    color:#fff;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}
.model-detail {font-size: 14px;}
.model-showdata{margin: 8px 0 8px 15px;}
.input-validation{color:#dc3545}

.admin-title{ font-size: 22px; margin: 20px 20px 25px 40px; color:#212121}
.admin-search{margin: 0 0 25px 40px;}

.results-status{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    color:#ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.type-2 {background-color: #dc3545; border-color: #dc3545;}
.type-3 {background-color: #f39c12; border-color: #e08e0b;}
.type-4 {background-color: #37c7de; border-color: #37c7de;}
.type-5 {background-color: #007bff; border-color: #007bff;}
.type-6 {background-color: #5cb85c; border-color: #4cae4c;}

td .type-2 { font-size:10px;}
td .type-3 { font-size:10px;}
td .type-4 { font-size:10px;}
td .type-5 { font-size:10px;}
td .type-6 { font-size:10px;}

.admin-body{margin: 0 20px 25px 20px;}
.admin-body table .fa-minus-circle{ color:#dc3545; font-size:22px;}
.admin-body table .fa-eye{ color:#17a2b8; font-size:22px;}
.admin-body table .fa-share-square{ color:#28a745; font-size:20px;}
.admin-body table .fa-check-circle{ color:#28a745; font-size:22px;}
.admin-body .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #cdfdce;
}

.setting-menu a {color:#212121; text-decoration:none;}
.setting-menu a:hover{color: #fb6026;}
.setting-menu .small-box { border-color:#fb6026; }
.setting-menu .small-box .small-box-footer{ background: #fb6026; }
.bs-docs-footer{height:120px; margin-top:35px; background:#f8f9fa; border-top:10px solid #FF7043;}
.bs-docs-footer-links {
    margin-top: 15px;
    padding-left: 0;
    margin-bottom: 20px;
}
.bs-docs-footer-links li {
    display: inline-block;
    margin-right: 15px;
}
.bs-docs-footer a {
    color: #000;
}
.panel-box {
    width: 100%;
}
.box-header {
    padding: 10px;
    width: 100%;
    background-color: #00BB67;
    color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-detail {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.panel-icon {
    border: 10px solid #00BB67;
    border-radius: 50%;
    padding: 25px;
    width: 140px;
    height: 140px;
    margin: auto;
}
.panel-icon i {
    color: #00BB67;
    font-size: 64px;
}
.icon-cogs-p {
    padding-left: 18px;
    padding-top: 28px;
}
.box-content-1 .box-header {
    background-color: #FB8C00;
    border-bottom: 0px;
}
.box-content-1 .box-detail {
    background-image: linear-gradient(#FFA726, #FFCC80);
}
.box-content-1 .box-detail .panel-icon {
    border-color: #FFFFFF;
    background-color: #FB8C00;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-1:hover > .box-detail .panel-icon {
    border-color: #FB8C00;
    background-color: #FB8C00;
}
.box-content-1 .box-detail .panel-icon i {
    color: #FFFFFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-1:hover > .box-detail .panel-icon i {
    font-size: 75px;
    margin: -6px -8px;
}
.box-content-2 .box-header {
    background-color: #1E88E5;
    border-bottom: 0px;
}
.box-content-2 .box-detail {
    background-image: linear-gradient(#42A5F5, #90CAF9);
}
.box-content-2 .box-detail .panel-icon {
    border-color: #FFFFFF;
    background-color: #1E88E5;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-2:hover > .box-detail .panel-icon {
    border-color: #1E88E5;
    background-color: #1E88E5;
}
.box-content-2 .box-detail .panel-icon i {
    color: #FFFFFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-2:hover > .box-detail .panel-icon i {
    font-size: 75px;
    margin: -6px -8px;
}
.box-content-3 .box-header {
    background-color: #6D4C41;
    border-bottom: 0px;
}
.box-content-3 .box-detail {
    background-image: linear-gradient(#8D6E63, #BCAAA4);
}
.box-content-3 .box-detail .panel-icon {
    border-color: #FFFFFF;
    background-color: #6D4C41;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-3:hover > .box-detail .panel-icon {
    border-color: #6D4C41;
    background-color: #6D4C41;
}
.box-content-3 .box-detail .panel-icon i {
    color: #FFFFFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-3:hover > .box-detail .panel-icon i {
    font-size: 75px;
    margin: -6px -8px;
}
.box-content-4 .box-header {
    background-color: #00897B;
    border-bottom: 0px;
}
.box-content-4 .box-detail {
    background-image: linear-gradient(#26A69A, #80CBC4);
}
.box-content-4 .box-detail .panel-icon {
    border-color: #FFFFFF;
    background-color: #00897B;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-4:hover > .box-detail .panel-icon {
    border-color: #00897B;
    background-color: #00897B;
}
.box-content-4 .box-detail .panel-icon i {
    color: #FFFFFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.box-content-4:hover > .box-detail .panel-icon i {
    font-size: 75px;
    margin: -6px -8px;
}
.link-cursor {
    cursor: pointer;
}
small.help-block {
    color: #dc3545 !important;
}
.panel-text-header {
    margin: 0px 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #FF7043;
}
.panel-text-header p {
    color: #212121;
    margin: 0px;
}
.has-success .help-block,.has-success .control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline{color:#3c763d}
.has-success .form-control{border-color:#3c763d;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.has-success .form-control:focus{border-color:#2b542c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}
.has-error .form-control{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.has-error .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}
.input-row {
    padding: 0px 30px;
}

.timeline  ul{ 
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative; 
}
.timeline  ul::before{ 
    content: " ";
    height: 100%;
    width: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: 1;
}


.timeline  ul li div {
display: inline-block;
margin: 1em 0;
vertical-align: top;
}

.bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 2;
    background-color: #fff;
    margin-right: 1em;
    position: relative;

}
.timeline  ul li .pink{ border: 2px solid #f93b69; }
.timeline  ul li .green{border: 2px solid #b0e8e2;}
.timeline  ul li .orange{border: 2px solid #eb8b6e;}

.timeline .time {
width: 25%;
font-size: 0.75em;
padding-top: 0.25em;
}

.timeline .desc {
width: 60%;
}

.timeline h3 {
font-size: 0.9em;
font-weight: 400;
margin: 0;
}

.timeline h4 {
margin: 0;
font-size: 0.7em;
font-weight: 400;
color: #808080;
}

.timeline .people img {
width: 30px;
height: 30px;
border-radius: 50%;
}

.comment-count{
    border: 1px solid #dc3545;
    border-radius: 5px;
    padding: 2px 8px 3px 8px;
    background: #dc3545;
    color: #fff;
}

#page_nav .page-link{ background: #fff; border-color: #dee2e6; color:#28a745;}
#page_nav .active{ background: #00bb67; color:#fff;}
#page_nav a:hover{ background: #00bb67; color:#fff;}